<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] PuppiesPet</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/estilos.css" />

  <style>
    /*Footer*/
    .footer {
      background: #4A684A;
      overflow-x: hidden;
      padding: 14vmin 16vmin;
    }

    footer p>span {
      color: white;
    }

    footer input {
      border: none !important;
    }

    footer input::placeholder {
      color: white !important;
    }

    footer .input-group .input-group-text {
      background: var(--bggradient);
      border: none;
    }

    footer .column i {
      color: white;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-0"
      style="background-color:#64AF8B;">
      <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">PuppiesPet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
            </li>
            <li class="nav-item center">
              <a class="nav-link text-white" class="center" asp-controller="Servicios" asp-action="Index">Servicios</a>
            </li>
          
            <li class="nav-item center">
              <a class="nav-link text-white" class="center" asp-controller="Farmacia"
                asp-action="Medicamentos">Farmacia</a>
            </li>
            <partial name="_MenuPartial" />
          </ul>
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <main role="main" class="pb-2">
      @RenderBody()
    </main>
  </div>
  <!--footer-->
  <footer class="border-top footer text-muted">
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <p class=" text-white">Clínica: Av.Miraflores 2356</p>
          <p class=" text-white">2854512 / 995458745</p>
          <p class="pt-4  text-white">Copyright ©2021 Clínica Veterinaria Puppies Pet | Todos los derechos Reservados
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light text-white">Suscribete</h4>
          <p class=" text-white">Recibe nuestras ultimas novedades</p>
          <p class=" text-white">Correo Electrónico:</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2"
                  placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Síguenos</h4>
          <div class="column text-light">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>