<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Registrar Mi perfil</title>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            background-color: #fff;
            line-height: 1.9;
            color: #8c8c8c;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            font-family: "Roboto", sans-serif;
            color: #000;
        }

        a {
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

        a,
        a:hover {
            text-decoration: none !important;
        }

        .text-black {
            color: #000;
        }

        .content {
            padding: 7rem 0;
        }

        .heading {
            font-size: 2.5rem;
            font-weight: 900;
        }

        .form-control {
            border: none;
            background: #f3f3f3;
        }

        .form-control:active,
        .form-control:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #000;
            background: #f3f3f3;
        }

        .col-form-label {
            color: #000;
        }

        .btn,
        .form-control,
        .custom-select {
            height: 50px;
        }

        .custom-select:active,
        .custom-select:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #000;
        }

        .btn {
            border: none;
            border-radius: 4px !important;
        }

        .btn.btn-primary {
            background: #20DF83;
            color: white;
            padding: 15px 20px;
        }

        .btn:hover {
            color: white;
        }

        .btn:active,
        .btn:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .box {
            padding: 40px;
            background: #fff;
            -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
            box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
        }

        .box h3 {
            font-size: 14px;
            margin-bottom: 30px;
            text-align: center;
        }

        label.error {
            font-size: 12px;
            color: red;
        }

        #message {
            resize: vertical;
        }

        #form-message-warning,
        #form-message-success {
            display: none;
        }

        #form-message-warning {
            color: #B90B0B;
        }

        #form-message-success {
            color: #55A44E;
            font-size: 18px;
            font-weight: bold;
        }

        .submitting {
            float: left;
            width: 100%;
            padding: 10px 0;
            display: none;
            font-weight: bold;
            font-size: 12px;
            color: #000;
        }
    </style>
</head>

<body>


    <div class="content">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h3 class="heading mb-4 text-center">Mi perfil</h3>


                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <p><img src="images/usuario.jpg" alt="Image" class="img-fluid"></p>
                        </div>
                        <div class="col-md-6">
                            <form class="mb-5" method="post" id="contactForm" name="contactForm">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Mi Nombre">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" name="email" id="email"
                                            placeholder="Mi Apellido">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Distrito">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Direccion">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Celular">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row justify-content-center">
                            <div class="mb-5" class="col-md-10">
                                <input type="submit" value="Registrar " class="btn btn-primary rounded-0 py-2 px-4">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>