<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         /*section-1*/
        .section-1{
            margin-top:3%;
        }
        .section-1 .row .col-md-7, .col-md-5{
            margin-top:10%;
            margin-bottom: 10%;
        }
        .section-1 .parrafo-1{
            color: black;
            margin-top: 7%;
        }
        .col-md-7 img{
            height:480px;
        }
        .col-md-5 h1{
            color:#64AF8B ;
        }
        .col-md-5 .parrafo-1{
            font-weight: bolder;
            font-size: 0.9em;
            color: #2C492F;
        }
        /*final*/

         /*Vision y mision*/
        .rowsetting{
            margin:9px 0px !important;
        }
        .imgsetting{
            border-radius:50%;
            height:100px;
            width: 100px;
            background-color: #64AF8B;
            float:left;
            margin-left:17px;
        }
       
        .fa-flag{
            margin-top:20px;
        }
        .fa-eye{
            margin-top:20px;
        }
        .col-lg-4 p{
            font-size: 2vmin;
        }
        /*final*/

         /*Section3*/
        .section-3{
            margin:18px;
            padding:25px;
        }
        .text1{
            border-top: 2px solid #BAE8D2;
            border-top-width:10px;
            border-bottom: 2px solid #BAE8D2;
            border-bottom-width:10px;
            padding:15px;
        }
        .text2{
            border-top: 2px solid #BAE8D2;
            border-top-width:10px;
            border-bottom: 2px solid #BAE8D2;
            border-bottom-width:10px;
            padding:15px;
        }
        .text3{
            border-top: 2px solid #BAE8D2;
            border-top-width:10px;
            border-bottom: 2px solid #BAE8D2;
            border-bottom-width:10px;
            padding:15px;
        }
        .section-3 .row{
             padding: 2vmin 4.5vmin;
        }
        /*final*/

         /*Section4*/
        .section-4 .text-center{
            color:#64AF8B ;
        }
        .section-4 .card{
            background-color: #BAE8D2;
            opacity:0.5;
        }
        .card-block  h6{
            color:#2C492F;
        }
        .section-4 img{
            height: 250px;
        }
    </style>
</head>
<body>
    <!--Section-1-->
    <div class="section-1" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="~/imagenes/clínica-veterinaria.jpg" alt="" width="590">
                </div>
                <div class="col-md-5 text-center">
                    <h1>Nosotros</h1>
                    <p class="parrafo-1">Desde su fundación, fue conocida por el desarrollo de nuevas técnicas y herramientas quirúrgicas y de rehabilitación, que permitieron ser una Clínica Veterinaria referente en el País y diferenciarse con propuestas innovadoras, como fue la silla de ruedas para mascotas, que permite realizar una adecuada rehabilitación en casos con buen pronóstico, así como ser instrumento de movilización del paciente aportando calidad de vida en otros casos.</p>
                    <p class="parrafo-1">Actualmente, es una Clínica Veterinaria multidisciplinaria que ofrece diferentes especialidades, conformada por un staff de 19 Médicos Veterinarios, liderados por el Dr. Pancho Cavero, en las sedes de Barranco, Lince, Los Olivos y San Juan de Miraflores, ofreciendo servicios médicos de calidad con el uso de equipos médicos de última generación.</p>
                </div>
            </div>
        </div>
    </div>
      <!--Visiony mision-->
    <div class="container text-center ourservices">
            <div class="row rowsetting">
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto " >
                    <div class="imgsetting d-block m-auto"><i class="fas fa-eye fa-3x text-white"></i>
                    </div>
                    <h4>Visión</h4>
                    <p class="text-justify offset-4">Ser reconocidos por nuestros socios estratégicos como la primera opción en productos y servicios veterinarios para la salud.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                    <div class="imgsetting d-block m-auto"><i class="fas fa-flag fa-3x text-white"></i>

                    </div>
                    <h4>Misión</h4>
                    <p class="text-justify  offset-4">Satisfacer a nuestros clientes, brindándoles productos y servicios de calidad que generen soluciones integrales para la salud.</p>
                </div>
            </div>
    </div>
    <!--Nuestras especialidades-->
    <div class="section-3 bg-success text-center ">
        <h1 class="text-white">Nuestras especialidades</h1>
        <div class="row pt-5 ">
            <div class="col-md-4 col-sm-8 text1">
              <div class="entrada entrada1 ">
                <div class="d-flex flex-row">
                  <h4 class="text-white">Cirugías y Traumatología</h4>
                </div>
              </div>
            </div>
             <div class="col-md-4 col-sm-8 text2">
              <div class="entrada entrada1 ">
                <div class="d-flex flex-row ">
                  <h4 class="text-white">Ecografía, Laboratorio y Farmacia</h4>
                </div>
              </div>
            </div>
             <div class="col-md-4 col-sm-8 text3">
              <div class="entrada entrada1 ">
                <div class="d-flex flex-row justify-content-center">
                  <h4 class="text-white">Oftalmología Veterinaria</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--Nuestros valores-->
    <section id="valores"  class="section-4 pb-5">
        <div class="parallax-overlay ">
            <div class="container text-center">
                <h1>Nuestros Valores</h1><br>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="card">
                                <img class="card-img-top img-fluid" src="~/imagenes/comunicacion.png" height>
                                <div class="card-block">
                                    <div class="card-title text-center">
                                    <h6>Comunicación</h6>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="~/imagenes/responsabilidad.png" height="250px">
                            <div class="card-block">
                                <div class="card-title text-center">
                                    <h6>Responsabilidad</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="~/imagenes/integridad.png" height="250px">
                            <div class="card-block">
                                <div class="card-title text-center">
                                    <h6>Integridad</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="~/imagenes/respeto.png" height="250px">
                            <div class="card-block">
                                <div class="card-title text-center">
                                    <h6>Respeto</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </section>

</body>
</html>