@model Doctor

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="text-align:center;color: #64AF8B; margin-top:10px;">Editar Doctor</h1>

<form action=" " method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" type="text" class="form-control">

    </div>
    <button class="btn" style="background-color: #00DF95;color:white;">Registrar Cambios</button>
</form>