@model List<Servicio>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>

<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
    }

    .content-table thead tr {
        background-color: #009879;
        color: white;
        text-align: left;
        font-weight: bold;

    }

    .content-table thead th,
    .content-table td {
        padding: 12px 15px;

    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;

    }

    .content-table tbody tr .active-row {
        font-weight: bold;
        color: #009879;
    }
</style>

<body>

    <a href="/Servicios/NuevoServicio" class="btn btn-success">Añadir Servicio</a>

    <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Operaciones</th>

            </tr>

        </thead>

        <tbody>
            @foreach (var s in Model)
            {

                <tr class="active-row">
                    <td>@s.Id</td>
                    <td>@s.Nombres</td>

                    <td>
                        <a href="/Servicios/EditarServicios/@s.Id" class=" btn btn-dark">Editar</a>
                        <form action="/Servicios/BorrarServicios" method="post" class="d-inline-block">
                            <input type="hidden" name="id" value="@s.Id" />

                            <button class="btn btn-danger">Borrar</button>
                        </form>

                    </td>



                </tr>



            }


        </tbody>

        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3" class="text-center">No se ha encontrado Servicios</td>
            </tr>
        }



    </table>
</body>

</html>
