@model Mascota


<h1>Editar informacion de mi mascota</h1>

<form method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" type="text" class="form-control">

        <label asp-for="fechaNacimiento"></label>
        <input asp-for="fechaNacimiento" type="text" class="form-control">


        <label asp-for="Edad"></label>
        <input asp-for="Edad" type="text" class="form-control">

        <label asp-for="Peso"></label>
        <input asp-for="Peso" type="text" class="form-control">

        <label asp-for="Enfermedades"></label>
        <input asp-for="Enfermedades" type="text" class="form-control">

    </div>
    <button class="btn btn-primary">Registrar Cambios</button>





</form>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
