@model ReservaCita


<h1 style="text-align:center;color: #64AF8B;">Editar Citas Agendadas</h1>

<form method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" type="text" class="form-control">

        <label asp-for="Hora"></label>
        <input asp-for="Hora" type="text" class="form-control">


      

    </div>
    <button class="btn" style="background-color:#00DF95;color:white">Registrar Cambios</button>





</form>