@model TrabajaNosotros
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .trabaja-nosotros {
            padding: 20vmin 0vmin;
            color: #2C492F;
        }

        .trabaja-nosotros .row .col-md-6 .imagen img {
            opacity: 0.8;
            width: 100%;
            border-radius: 0.2em;
        }

        .trabaja-nosotros .row .col-md-6 .panel {
            color: #2C492F;
            font-weight: bolder;
        }

        .trabaja-nosotros .row .col-md-6 .panel p {
            font-weight: bolder;
            font-size: 0.9em;
        }

        .trabaja-nosotros .row .col-md-6 .panel h1 {
            font-weight: bolder;
            color: #64AF8B;
        }

        .panel p {
            background: #418E48;
            opacity: 0.4;
        }

        .inputBx input[type="submit"] {
            background: #1d9b67b0;
            color: #fff;
            outline: none;
            border: none;
            font-weight: 500;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!--Formulario -->
    <section class="trabaja-nosotros">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="imagen">
                        <img src="~/imagenes/TrabajaNosotros-1.jpg" alt="Perros" class="" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-center">
                        <h1>Trabaja con Nosotros</h1>
                        <p>¡Escríbenos y únete a nuestra gran familia</p>
                        <form class="row g-3 text-left"  asp-controller="Home" asp-action="CrearTrabajo">           
                            <div class="col-md-6">
                                <label asp-for="Nombre" class="form-label">Nombre:</label>
                                <input asp-for="Nombre" type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Apellido" class="form-label">Apellido:</label>
                                <input asp-for="Apellido" type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="CorreoElectronico" class="form-label">Correo Electrónico:</label>
                                <input asp-for="CorreoElectronico" type="email" class="form-control"
                                    id="inputPassword4">
                            </div>
                            <div class="col-6">
                                <label asp-for="Celular" class="form-label">Celular:</label>
                                <input asp-for="Celular" type="number" class="form-control" id="inputAddress">
                            </div>

                            <div class="col-12">
                                <label asp-for="Curriculum" class="form-label">Adjuntar CV:</label>
                                <input asp-for="Curriculum" class="form-control" type="file" id="formFile">
                            </div>
                            <div class="col-12">
                                <label asp-for="Asunto" for="exampleFormControlTextarea1"
                                    class="form-label">Asunto</label>
                                <textarea asp-for="Asunto" class="form-control" id="exampleFormControlTextarea1"
                                    rows="3"></textarea><br>
                            </div>


                            <div class=" inputBx">
                                <div class="d-grid gap-2">
                                    <input type="submit" class="btn btn-primary" value="enviar"></input>

                                </div>

                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>