@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>

    

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="button">
                <form asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit">Logout</button>
                </form>
            </li>

        }
        else
        {

        


        }
    </ul>

</body>

</html>
