@model Contactar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Document</title>
    <style>
        /*services*/
        .ourservices {
            padding: 100px 0px 60px;
            height: 700px;
        }

        .ourservices h1 {
            font-weight: bold;
        }

        /*circle*/
        .rowsetting {
            margin: 15px 0px !important;
        }

        .imgsetting {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            background-color: #64AF8B;
        }

        .fa-map-marked-alt {
            margin-top: 20px;
        }

        .fa-envelope {
            margin-top: 20px;
        }

        .fa-phone {
            margin-top: 20px;
        }

        .inputBx input[type="submit"] {
            background: #1d9b67b0;
            color: #fff;
            outline: none;
            border: none;
            font-weight: 500;
            cursor: pointer;
        }

        /**/
    </style>
</head>

<body>
    <!--contactenos-->
    <section>
        <div>
            <div class="container text-center ourservices">
                <p>Si tienes alguna consulta</p>
                <h1>Cont치ctenos</h1>
                <div class="row rowsetting">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                        <div class="imgsetting d-block m-auto"><i class="fas fa-map-marked-alt fa-3x text-white"></i>
                        </div>
                        <h3>Direcci칩n</h3>
                        <p>Av.Miraflores 1565</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                        <div class="imgsetting d-block m-auto"><i class="fas fa-envelope fa-3x text-white"></i>

                        </div>
                        <h3>Correo</h3>
                        <p>puppiespet@hotmail.com</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                        <div class="imgsetting d-block m-auto"><i class="fas fa-phone fa-3x text-white"></i>

                        </div>
                        <h3>Celular</h3>
                        <p>998545541</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md offset2-md-2">
                        <div class="_blogcard mt-5">
                            <div class="row">
                                <div class="col-lg-7 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12 location">
                                            <!--Location-->
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9904.320155671066!2d-76.97620733498549!3d-12.154748107354944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b8f71b53ab49%3A0xdd8cbd3088d235f0!2sSan%20Juan%20de%20Miraflores!5e0!3m2!1ses!2spe!4v1622097847639!5m2!1ses!2spe"
                                                width="600" height="450" style="border:0;" allowfullscreen=""
                                                loading="lazy"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12">
                                    <!--Contenido-->
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <form class="form text-left pt-3" method="post" asp-controller="Home"
                                                asp-action="CrearContacto">
                                                <div>
                                                    <label asp-for="Nombres" class="form-label">Nombre y
                                                        Apellido del Due침o:</label>
                                                    <input asp-for="Nombres" type="text" class="form-control"
                                                        id="exampleFormControlInput1" placeholder="Ej:Luis Vargas">
                                                </div>
                                                <div>
                                                    <label asp-for="NombreMascota" for="exampleFormControlInput1"
                                                        class="form-label">Nombre de
                                                        la mascota:</label>
                                                    <input asp-for="NombreMascota" type="text" class="form-control"
                                                        id="exampleFormControlInput1" placeholder="Ej:Koki">
                                                </div>
                                                <div>
                                                    <label asp-for="CorreoElectronico" for="exampleFormControlInput1"
                                                        class="form-label">Correo
                                                        Electr칩nico:</label>
                                                    <input asp-for="CorreoElectronico" type="email" class="form-control"
                                                        id="exampleFormControlInput1" placeholder="luis@example.com">
                                                </div>
                                                <div>
                                                    <label asp-for="Asunto" for="exampleFormControlTextarea1"
                                                        class="form-label">Asunto:</label>
                                                    <input asp-for="Asunto" class="form-control"
                                                        id="exampleFormControlTextarea1" rows="3"></input>
                                                </div>
                                                <div class="form-group enviar pt-3 pb-3 text-center ">
                                                    <button type="submit" class="btn">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>
</body>

</html>