<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <style>
    .trabaja-nosotros {
        padding: 20vmin 0vmin;
        color:#2C492F ;
    }

    .trabaja-nosotros .row .col-md-6 .imagen img {
        opacity: 0.8;
        width: 100%;
        border-radius: 0.2em;
    }
    .trabaja-nosotros .row .col-md-6 .panel {
        color:#2C492F;
        font-weight: bolder;
    }
    .trabaja-nosotros .row .col-md-6 .panel p {
        font-weight: bolder;
        font-size: 0.9em;
    }
    .trabaja-nosotros .row .col-md-6 .panel h1 {
        font-weight: bolder;
        color:#64AF8B;
    }
  </style>
</head>
<body>
     <!--Formulario -->            
    <section class="trabaja-nosotros">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="imagen">
                    <img src="Imagenes/TrabajaNosotros-1.jpg" alt="Perros" class="" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="panel text-center">
                        <h1>Trabaja con Nosotros</h1>
                        <p>¡Escríbenos y únete a nuestra gran familia</p>
                        <form class="row g-3 text-left">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Nombre:</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Apellido:</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Correo Electrónico:</label>
                                <input type="email" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-6">
                                <label for="inputAddress" class="form-label">Celular:</label>
                                <input type="text" class="form-control" id="inputAddress">
                            </div>
                            <div class="col-12">
                                <label for="formFile" class="form-label">Adjuntar CV:</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <div class="col-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Asunto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </section>

</body>
</html>