/*--------------- navbar-------------------------------------------*/

a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: none;
  background: #c8d1ca;
  transition: 0.5s;
  color: black;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.center {
  text-align: center;
}

.top {
  padding-top: 30px;
}

.colorForm {
  color: #64af8b;
  -webkit-text-stroke: 1px #64af8b;
  font-size: x-large;
}

.img {
  border: none;
}

.tables {
  background: black;
}

.tables th {
  color: black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*-------------------footer--------------------------------------------------------------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4e9975;
  height: auto;
  width: 100%;
  font-family: open sans;
  padding-top: 10px;
  color: white;
  background-size: auto;
  padding: 10px 20px -10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h1 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 300px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociales {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.sociales li {
  margin: 0 10px;
}

.sociales a {
  text-decoration: none;
  color: white;
}

.sociales a i {
  font-size: 1rem;
  transition: color 0.4s ease;
}

.sociales a:hover i {
  color: black;
}

.footer-bottom {
  background: #4e9975;
  width: 100vw;
  padding: 1px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
